@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager

<h2>Claims</h2>

<ul>
    @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>